{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    Main
{% endblock %}

{% block body %}
        <!-- Masthead -->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Hbalance</h1>
                    <h3 class="text-white-50 mx-auto mt-2 mb-5">Try. Feel. Enjoy.</h3>
                    <a class="btn btn-primary js-scroll-trigger" href="#projects">Get Started</a>
                </div>
            </div>
        </header>
        <!-- About -->
        <div class="fullscreen-bg">
            <div id="about" class="overlay">
                <h3>Do it for your soul<br></h3>
            </div>
            <video loop="" muted="" autoplay="" class="fullscreen-bg__video">
                <source src="{%static 'main/assets/video/most_city(concat).mp4' %}" type="video/mp4">
            </video>
        </div>
        <!-- Photos -->
        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- About Me Row -->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{%static 'main/assets/img/bg-masthead.jpg' %}" alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>About me</h4>
                            <p class="text-black-50 mb-0">My name is Ruslan Kalachevskyi. I'm professional circus performer specializing on handbalance. I started my handstand journey when I was 15 y.o. after entered in circus school. We created this website in order to prevent mistakes that I made at the beginning of my study of the handstand. I wish you the best results!</p>
                        </div>
                    </div>
                </div>
                <!-- Photo One Row -->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="{%static 'main/assets/img/image1.jpg' %}" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">New is better</h4>
                                    <p class="mb-0 text-white-50">Improved spatial awareness: you'll get a new view of the world from a handstand, helping to develop your spatial awareness.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Photo Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="{%static 'main/assets/img/image2.jpg' %}" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Usefulness</h4>
                                    <p class="mb-0 text-white-50">Spending some time upside down can reduce stress, increase strength and improve co-ordination, stability and balance.</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Final words -->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <h2 class="text-white mb-5">Start now so as not to regret later!</h2>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}