{% extends 'accounts/lessons/lessons_base.html' %}

{% load static %}

{% block title %}
    Lesson 1
{% endblock %}

{% block content %}
    <!-- Lesson 1 -->
    <section class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Lesson 1</h2>
                    <p class="text-white-50">
                        The first lesson will dedicated to basic exercises, which preparing your body for
                        learning handstand. Lets go!
                    </p>
                    <div>
                        <video width="690" height="389" controls >
                            <source src="{%static 'accounts/assets/videos/lesson1.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block text %}
    <!-- Lesson 1 text -->
    <section class="projects-section bg-black">
        <div class="container">
            <!-- Exercise 1 -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="{%static 'accounts/assets/img/lesson1/ex1.png' %}" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Exercise 1. Floor.</h4>
                                <p class="mb-0 text-white-50">
                                    Original position lying on the floor. Your body must be maximum straight.
                                    We should lie down straight and forming a right line.
                                    Small of the back must be pinned to the floor as shown in the video.
                                    Hands should touch the floor (if pressing requires effort, do the shoulder
                                    stretch as shown in the insertion).
                                    <br>FIXATION ABOUT 1 MIN
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exercise 2 -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="{%static 'accounts/assets/img/lesson1/ex2.png' %}" alt="" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Exercise 2. Chair.</h4>
                                <p class="mb-0 text-white-50">
                                    Imitation handstand with chair.
                                    Firstly, put our feet on a chair.
                                    Approach the chair with your hands so that the buttockswere at the top.
                                    If your flexibility dont allows you keep your knees straight you can
                                    SLIGHTLY bend it.
                                    On this moment I show in what position your shoulders should NOT TO BE.
                                    As you can se I'm falling down on my shoulders. It's a big mistake!
                                    The shoulders should be pulled in as much as possible and pressed against
                                    the ears as you can seen when viewed from the side.
                                    This shows the correct position of your brushes.
                                    As you can see they are looking straight.
                                    Toes are spread out to the sides as much as possible and bent.
                                    It will be handy for your balance.
                                    No need to close your fingers as shown in the video with the wall.
                                    <br>FIXATION 2*60 SEC
                                </p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exercise 3 -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="{%static 'accounts/assets/img/lesson1/ex3.png' %}" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Exercise 3. Wall stand.</h4>
                                <p class="mb-0 text-white-50">
                                    Next step. Handstand with the wall.
                                    The video where I stand shows how it should be and should not be done.
                                    HOW TO DO?
                                    Stretch your feet and knees by straining your quadriceps so you can feel
                                    your legs more easily.
                                    Straining your glutes is your center of gravity in handstand.
                                    Slightly retract the abdomen and squeeze the chest inward.
                                    Pull your shoulders up as we did in the second exercise.
                                    THE BODY SHOULD REMIND A SMOOTH LINE.
                                    HOW NOT TO DO IT SHOWN ON THE VIDEO AS WELL.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- Final text -->
        <div class="bg-black text-center h-50 project">
            <div class="project-text w-100 my-auto text-center text-lg-left">
                <br>
                <p class="mb-0 text-white-50">

                </p>
            </div>
        </div>
    </section>
{% endblock %}