{% extends 'accounts/lessons/lessons_base.html' %}

{% load static %}

{% block title %}
    Lesson 2
{% endblock %}

{% block content %}
    <!-- Lesson 2 -->
    <section class="about-section text-center" id="block2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Lesson 2</h2>
                    <p class="text-white-50">
                        Before doing handstand, you must train entering. The first main exercise is crease.
                    </p>
                    <div>
                        <video width="690" height="389" controls >
                            <source src="https://handbalance-lessons.s3.us-east-2.amazonaws.com/lesson2.mp4" type="video/mp4">
                        </video>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block text %}
    <!-- Lesson 2 text -->
    <section class="projects-section bg-black" id="info2">
        <div class="container">
            <!-- Exercise 1 -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="{%static 'accounts/assets/img/lesson2/ex1.png' %}" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Exercise 1. Crease.</h4>
                                <p class="mb-0 text-white-50">
                                    Initial standing position, stretch your arms forward and keep your back straight,
                                    bend down, not to bend your knees, try to touch the floor with your palms.
                                    If it doesn't work out, try to start by touching your fingers to the floor.
                                    You should feel like a pull under your knees.
                                    <br>This position you should fix 30 seconds for 3 sets.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exercise 2 -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="{%static 'accounts/assets/img/lesson2/ex2.png' %}" alt="" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Exercise 2. Entering in handstand with the wall.</h4>
                                <p class="mb-0 text-white-50">
                                    Initial standing position: body is tilted, palms are as close as possible to
                                    the wall, one leg is placed slightly in front of the second. Wave foot towards the wall.
                                    Next, when the leg touches the wall, bring the other leg. Hold body as straight
                                    as possible like in the first lesson. Try to push off the wall with the other foot.
                                    Frequent mistake is collapse of the shoulders, your can find it in the video.
                                    Being in a handstand, pull them up, then the position of the body will
                                    be as even as possible. I strongly recommend pushing off the wall and try to find
                                    balance - this greatly simplifies studding in the following stages.
                                    The body should be as even as possible, as shown in the video, in order to keep
                                    a track of this I recommend filming yourself with a camera, or asking someone
                                    to correct you.
                                    <br>Do 10 sets for maximum seconds.
                                </p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exercise 3 -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="{%static 'accounts/assets/img/lesson2/ex3.png' %}" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Exercise 3. Handstand belly against the wall.</h4>
                                <p class="mb-0 text-white-50">
                                    This exercise brings your balance well. Initial standing position, bend over,
                                    put our hands up, lift one leg, then the other.
                                    Come as close as possible to the wall, thus entering the rack.
                                    Try to open and then close your legs. Don't forget about even position of the
                                    body and shoulders over the ears without deflection.
                                    When you feel confident, I advise you to do it with a partner. Enter in a such
                                    way the put your hands on the floor and swing into the rack, at this time the
                                    partner catches your leg. Let him monitor and correct mistakes.
                                    <br>Do 10 sets for maximum seconds.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- Final text -->
        <div class="bg-black text-center h-50 project">
            <div class="project-text w-100 my-auto text-center text-lg-left">

            </div>
        </div>
    </section>
{% endblock %}