{% extends 'accounts/lessons/lessons_base.html' %}

{% load static %}

{% block title %}
    Lesson 5
{% endblock %}

{% block content %}
    <!-- Lesson 5 -->
    <section class="about-section text-center" id="block5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Lesson 5</h2>
                    <p class="text-white-50">

                    </p>
                    <div>
                        <video width="690" height="389" controls >
                            <source src="{%static 'accounts/assets/videos/lesson5.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- Lesson 5 text -->
    <section class="projects-section bg-black" id="info2">
        <div class="container">
            <!-- Exercise 1 -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="{%static 'accounts/assets/img/lesson5/ex1.png' %}" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Exercise 1</h4>
                                <p class="mb-0 text-white-50">
                                    Initial sitting position, hands at hip level, knees straight. We make a
                                    tilt, keep your back straight. Don't bend your back as shown in the video.
                                    When performing a slope, not to bend your knees.
                                    If you do correctly this exercise you should have a burning sensation under
                                    your knees. You also need to perform this variant of the exercise with legs
                                    apart, the technique is the same.
                                    If you can touch the floor with your chest, you have sufficient flexibility.
                                    If not, constantly perform this, before standing and don`t start the next
                                    exercise.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exercise 2 -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="{%static 'accounts/assets/img/lesson5/ex2.png' %}" alt="" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Exercise 2</h4>
                                <p class="mb-0 text-white-50">
                                    Standing on hands, we spread legs apart and lower them down to the
                                    hands, don't bend the knees, the back should go with a slight hump. Go
                                    down slowly, you can also do with the insurance.
                                    To do this exercise, you must have strong abs and sufficient flexibility.
                                    This is what the anticipatory exercises will give.
                                </p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exercise 3 -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="{%static 'accounts/assets/img/lesson5/ex3.png' %}" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Exercise 3</h4>
                                <p class="mb-0 text-white-50">
                                    To do this exercise, you must have sufficient flexibility like in exercise
                                    1. Initial sitting position legs slightly apart, hands between legs.
                                    We transfer the weight to our arms and stretch out at the shoulders, the
                                    pelvis should be at the level of the legs, not lower at all. Don't sink
                                    shoulders as shown in the video. We stretch as much as possible as shown
                                    in this fragment, knees and feet should be taut. Fixing to the maximum.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- Final text -->
        <div class="bg-black text-center h-50 project">
            <div class="project-text w-100 my-auto text-center text-lg-left">
                <br>
                <p class="mb-0 text-white-50">

                </p>
            </div>
            {% if balance == 4 %}
                <a class="btn btn-primary js-scroll-trigger" href="/completeBlock/4">Finish block 5</a>
            {% endif %}
        </div>
    </section>
{% endblock %}