asgiref
certifi
cffi
chardet
cryptography
defusedxml
Django
django-allauth
dnspython
httplib2
idna
psycopg2
pycparser
PyJWT
pyparsing
python-openid
python3-openid
pytz
requests
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
